<h2 class="mainTitle">Iniciar sesion</h2>
<div class="loginBox">
    
    <form action="/auth/login" method="POST">
        <h2>email</h2>
        <input 
            class="input1"
            type="email" 
            name="email" 
            id=""
            placeholder="email"
        >

        <h2>password</h2>
        <input 
            class="input1"
            type="password" 
            name="password" 
            id=""
            placeholder="password"
        >
        <br><br><br>
        <button type="submit">
            Iniciar sesión
        </button>

        {{#if errorMessage}}
            <p style="color:red">{{errorMessage}}</p>
        {{/if}}
        
    </form>
</div>