<div>

    <form action="/auth/signup" method="POST">
        <label for="">Your username</label>
        <input type="text" name="username" placeholder="mikenieva">
        <br><br> 
        <label for="">Email</label>
        <input type="text" name="email" placeholder="mike@gmail.com">
        <br><br> 
        <label for="">Password</label>
        <input type="password" name="password" placeholder="mikenieves">
        <br><br> 
        <button type="submit">
            Create account
        </button>

    </form>
    
</div>