*{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.mainTitle{
    text-align: center;
}
.loginBox{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.outProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profileBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/**********Home**********/
.outBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainBox{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainBox .button1{
    width: 200px;
    height: 20px;
}

/**********Create**********/

.outCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainCreate{
    margin-top: 20px;
}

/**********List**********/
.outList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

/**********update**********/
.updatebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.pic1{
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.grid-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 70%;
    align-items: center;
}

.detailsButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
    margin-left: 10%;
}

.updateButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: greenyellow;
    margin-left: 1%;
    margin-right: 1%;
}

.deleteButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: red;
}

.titleName{
    margin-left: 5%;
    margin-right: 5%;
}

/***************Details section***********/
.outDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.mainDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input1 {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin: 5px;
}

.input2 {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin: 5px;
    width: 300px;
    height: 100px;
    background-color: lightgrey;

}

.TwoInputBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button1{
    background-image: linear-gradient(to right, red , yellow);
    border: none;
    border-radius: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
}

.links{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.pic2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.formedit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}