
<div class="signbox">

    <form action="create" method="POST" class="signup">
    
        <div class="signup1">
            <h2>Title</h2>
            <input type="string" name="title" />

            <h2>Date</h2>
            <input type="number" name="date" />

            <h2>Rating</h2>
            <input type="number" name="rate" />
            
            <h2>Url Image</h2>
            <input type="string" name="img" />

            <button type="submit"  >
                Create movie
            </button>
            <br><br>
            <button >
                <a  class="link s0" href="/movies/list">See movie list</a>
            </button>
        </div>
    </form>
</div>