
<div class="outCreate">
    <div class="mainCreate">
    <button class="button1" >
        <a  class="links" href="/user/menu">Back</a>
    </button>
    <br><br>
    <form action="create" method="POST" class="signup">
    
        <div class="TwoInputBox">
            <input 
                class="input1" 
                type="text" 
                name="title"
                placeholder="title" />

            <input 
                class="input1" 
                type="number" 
                name="date" 
                placeholder="year"
                />
        </div>
        <br><br>
        <div class="TwoInputBox">
            <input 
                class="input1" 
                type="number" 
                name="rate" 
                placeholder="rate"
                />
            <input 
                class="input1" 
                type="string" 
                name="img" 
                placeholder="rate"
                />
        </div>
            <br><br>
            <button class="button1" type="submit"  >
                Create movie
            </button>
            <br><br>
            <button class="button1" >
                <a class="links" href="/movies/list">See movie list</a>
            </button>

    </form>
    </div>
</div>