<div class="outDetails">
    <div class="mainDetails">

        <div>
            <button class="button1">
                <a  class="links" href="/movies/list">Back</a>
            </button>
            <button class="button1">
                <a  class="links" href="/user/menu">Home</a>
            </button>
        </div>
        <br><br>

        <img class="pic2" src={{img}} alt="fotografia"> 
        <h2>{{title}}</h2>
        <p>date: {{date}}</p>
        <p>Rating: {{rate}}</p>
    </div>
</div>
