<button >
    <a  class="link s0" href="/movies/list">Back</a>
</button>
<button >
    <a  class="link s0" href="/user/menu">Home</a>
</button>
<div class="signbox">
    <div class="signup">
        <div class="signup1">
        <h2>{{title}}</h2>
        <p>date: {{date}}</p>
        <p>Rating: {{rate}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
        </div>
    </div>
</div>
