<div class="outBox">
    <div class="mainBox">
        <p>
            Welcome to the Backend Node.js Challenge
        </p>
        <br/>
        <button class="button1">
            <a  class="links" href="/characters/create">Create a character</a>
        </button>
        <br/>
        <button class="button1">
            <a  class="links" href="/characters/list">See character list</a>
        </button>
        <br/>
        <button class="button1">
            <a  class="links" href="/movies/create">Create a movie</a>
        </button>
        <br/>
        <button class="button1">
            <a  class="links" href="/movies/list">See movie list</a>
        </button>
    </div>
</div>