{{!-- views/users/profile.hbs --}}
<div class="outProfile">
    <div class="profileBox">
        <h1>Tu perfil</h1>

        {{#if foundUser}}

            Hola {{foundUser.username}}

            {{else}}
            
            <p>Aun no has iniciado sesion</p>

        {{/if}}
    </div>
</div>